*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #fefefe;
}
.menu_bar{
    display: none;
}
header{
    width: 95%;
    align-content: center;
    display: flex;
    margin: 0;
    padding: 0;
}
header nav{
    margin-top: -90px !important;
    background-color: #023859;
    z-index: 1000;
    max-width: 1104px;
    width: 95%;
    margin: 20px auto;
    position: fixed;
    height: 66px;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    position: relative;
}
header nav ul li:hover{
    background: #e6344a;
    text-decoration: none;
    color: white;
}
header nav ul li a{
    color: #fffff1;
    display: block;
    text-decoration: none;
    padding: 20px;
}
header nav ul li a:hover{
  color: #fffff1;
  display: block;
  text-decoration: none;
  padding: 20px;
}
.fa-circle{
    font-size: 4px;
    margin-top: 8px;
    margin-right: 10px;
    float: left;
}
header nav ul li:hover .children{
    display: block;
    text-decoration: none;
    color: white;
}
header nav ul li .children{
    display: none;
    background: #011826;
    position: absolute;
    width: 127%;
    z-index: 1000;
}
header nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

/* media queries */

@media screen and (max-width: 1095px){
    body{
        padding-top: 70px;
    }
    .menu_bar{
        display: inline;
        min-width: 100%;
        position: fixed;
        top: 0;
        background: #e6344a;
        z-index: 1000;
    }
    .menu_bar .btn-menu{
        display: block;
        padding: 20px;
        color: white;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .fa-bars{
        float: right;
        font-size: 30px;
        margin-right: 20px;
    }
    header nav{
      margin-top: 6px !important;
        width: 75%;
        height: calc(100% - 80px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
    }
    header nav ul li{
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    header nav ul li a{
        display: block;
    }
    header nav ul li:hover .children{
        display: none;
        text-decoration: none;
        color: white;
    }
    header nav ul li .children{
        width: 100%;
        position: relative;
    }
    header nav ul li .children li a{
        margin-left: 20px;
    }
    div article p #frase{
      margin-top: 20px;
    }
    #frase{
      margin-top: 30px !important;
    }
    #habiliadades{
      z-index: 10;
    }
    #biografiatitulo{
      margin: 0px !important;
      width: 100%;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      text-align: center !important;
    }
}
@keyframes h3{
  0%,100%{
    transform: translate(0px);
  }
  25%{
    transform: translate(25px);
  }
  75%{
    transform: translate(-25px);
  }
}
@keyframes icono {
  0% {
    opacity: 0;
    transform: scale(.1); 
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1); 
    transform: rotate(360deg);
  }
}

/* Body */

/* Frase */
#frase{
    margin-top: 100px;
    background-color: salmon;
    width: 100%;
    height: auto;
    align-content: center;
    text-align: center;
    color: black;
    font-family: 'Amatic SC', cursive;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
/* autobiografía */
#titulo{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    background-color: crimson;
    color: white;
    padding: 15px;
    text-align: left;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.texto{
    background-color: salmon;
    width: 100%;
    height: auto;
    align-content: center;
    text-align: center;
    color: black;
    padding: 25px 30px;
    font-size: 18px;
}

/* Habilidades */
.tithabilidades{
  margin-left: 15px;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: crimson;
  color: white;
  width: 500px;
  text-align: center;
  padding: 10px;
}
h1, h3 {
  text-align: center;
}
h1{
  margin-top: 20px;
}
h3 {
  animation-name: h3;
  animation-duration: 2s;
}
.fas, .fab {
  animation-name: icono;
  animation-duration: 2s;
}
#habilidades{
  margin-top: 50px !important;
  margin: auto;
  width: 100%;
  z-index: 10;
}
/* Formacion */
.textoformacion{
  float: left;
  margin: 10px 0px 20px 50px;
  background-color: salmon;
  width: 100%;
  height: auto;
  align-content: center;
  text-align: center;
  color: black;
  padding: 25px 30px;
  font-size: 18px;
}

/* Habilidades técnicas */

/* ofimática */
#myProgress {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Ai */
  #myProgress2 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
 
#myBar2 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
 /* Ps */
  #myProgress3 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar3 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* HTML */
  #myProgress4 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar4 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* CSS */
  #myProgress5 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar5 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* InDesign */
  #myProgress6 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar6 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Animate */
  #myProgress7 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar7 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Protools */
  #myProgress8 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar8 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Js */
  #myProgress9 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar9 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Git */
  #myProgress10 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar10 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Bootstrap */
  #myProgress11 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar11 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }

  /* Habiliaddes blandas */

  /* Ofimática */
  #myProgress12 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar12 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Ai */
  #myProgress13 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
 
#myBar13 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
 /* Ps */
  #myProgress14 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar14 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* HTML */
  #myProgress15 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar15 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* CSS */
  #myProgress16 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar16 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* InDesign */
  #myProgress17 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar17 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Animate */
  #myProgress18 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar18 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Protools */
  #myProgress19 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar19 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Js */
  #myProgress20 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar20 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Git */
  #myProgress21 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar21 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Bootstrap */
  #myProgress22 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar22 {
    width: 5%;
    height: 20px;
    background-color: crimson;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
}
#myBar22 {
  margin-bottom: 20px;
}